[Unit]
Description=O2 infoLoggerD, local logging agent
After=network.target

[Service]
Type=forking
TimeoutSec=5
ExecStart=o2-infologger-daemon -z file:/etc/o2.d/infologger/infoLogger.cfg
ExecStop=/usr/bin/kill -s SIGTERM $MAINPID
GuessMainPID=1
Restart=always

[Install]
WantedBy=multi-user.target
